@use "./variables.module.scss" as *;

.main_wrapper {
  height: 100vh !important;
  overflow: hidden;
}

.main_layout {
  @include padding($all: 32px, $bottom: 0);
  height: 100%;
  background-color: $grey13;
}

.backgroundclass {
  background-color: $mainBackground;
}

.content_container {
  @include padding($all: 24px);
  height: calc(100vh - 69px);
  overflow-y: scroll;
  @include scroll_hover;
}

.full_page_container {
  overflow: auto;
  height: calc(100vh - 66px);
}

.input_field_label_container {
  @include margin($bottom: 8px);
  &_text {
    @include typography($weight: 5, $size: 14px, $color: $grey10);
  }
}

.optional_text {
  @include typography($color: $grey7);
  @include margin($left: 6px);
}

.more_options {
  @include flexbox(
    $display: flex,
    $alignItems: center,
    $justifyContent: center
  );
  @include box(
    $padding: 10px,
    $height: fit-content,
    $border: 1.5px solid #f0f0f0,
    $margin: 0 auto
  );
}

.bigger_cards {
  @include flexbox($display: flex, $direction: column, $rowGap: 8px);
  > span {
    @include typography(
      $weight: 5,
      $size: 11px,
      $height: 150%,
      $color: $grey14
    );
  }

  &_content {
    @include flexbox($display: flex, $alignItems: center, $columnGap: 12px);
    > span {
      @include typography(
        $weight: 6,
        $size: 22px,
        $height: 100%,
        $color: $black1
      );
    }

    &_right {
      @include flexbox($display: flex, $direction: column);

      &_diff {
        @include flexbox($display: flex, $alignItems: center, $columnGap: 4px);
      }
    }
  }
}


.grids {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* cards won’t shrink below 220px */
  gap: 12px;
  position: relative;
}

/* full-width border between rows */
.grids > * {
  position: relative;
}

// /* add a line below items that are not in the last row */
// .grids > *::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: -12px; /* aligns with gap */
//   height: 1px;
//   background: #e0e0e0;
//   grid-column: 1 / -1; /* span entire row */
// }

/* remove border for items in the last row */
.grids > *:nth-last-child(-n + 5)::after {
  content: none;
}

