@use "./variables.module.scss" as *;

.sidebar_container_main {
  @include flexbox(
    $display: flex,
    $direction: column,
    $justifyContent: space-between
  );
  height: -webkit-fill-available;
  background: $white;
  @include padding($rectangle: 24px 22px);
  border-right: 1px solid #e9eaeb;
  width: -webkit-fill-available;
  flex: 0 0 auto;
  //Scroll bars
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  ::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
}
.sidebar_container {
  // overflow-y: auto;
  // height: 100%;
  // @include scroll_hover;
  @include flexbox($display: flex, $direction: column, $rowGap: 24px);
  @include typography($color: #fff);
  &_org {
    @include padding($rectangle: 8px 16px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
  .menu {
    &_items {
      @include flexbox($display: flex, $rowGap: 30px, $direction: column);
      height: 67vh;
      overflow: scroll;
      &_header {
        @include typography(
          $color: rgba(255, 255, 255, 0.4),
          $size: 12px,
          $letterSpacing: 0.5px,
          $weight: 5
        );
        @include padding($rectangle: 0 16px);
      }
    }
    &_item,
    &_sub_item {
      @include typography($color: #fff);
      @include flexbox(
        $display: flex!important,
        $alignItems: center,
        $columnGap: 12px
      );
      @include transition;
      @include padding($rectangle: 8px 16px);
      &:hover {
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.05);
      }
      a {
        @include typography($color: #fff, $size: 14px, $weight: 500);
        @include transition;
        &:hover {
          @include typography($color: #fff, $size: 14px, $weight: 500);
        }
      }
    }
  }
}

.sidebar_header{
  &_select {
    @include margin($top: 16px);
    @include box($width: 100%, $height: 44px);
    &_label {
      @include typography(
        $color: $grey11,
        $size: 14px,
        $weight: 5,
        $height: 100%
      );
    }
  }
}

.flex_center {
  @include flexbox($display: flex, $alignItems: center, $gridGap: 12px);
}
.client_ {
  &logo_container {
    @include flexbox($display: flex, $alignItems: center, $columnGap: 10px);
  }

  &logo {
    height: 35px;
    width: 30;
    object-fit: contain;
  }
  &name {
    @include typography(
      $color: $grey11,
      $size: 16px,
      $weight: 5,
      $height: 100%
    );
  }
}

.sidebar_footer {
  @include flexbox($display: flex, $direction: column);
  &_modal {
    @include flexbox($display: flex, $direction: column, $rowGap: 20px);
  }
}

.sidebar_user_details {
  @include margin($top: 16px);
  @include flexbox(
    $display: flex,
    $columnGap: 8px,
    $alignItems: center,
    $justifyContent: space-between
  );
  .user_img {
    height: 32px;
    width: 32px;
    border-radius: 100px;
    object-fit: cover;
    background-color: white;
  }
  .user_name_section {
    @include typography($color: white);
    .user_name {
      @include typography($weight: 6);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 170px;
    }
    .user_role {
      @include typography($color: #b1bfda, $size: 12px, $weight: 6);
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 170px;
    }
    @include flexbox($display: flex, $direction: column);
  }
}
